<%- include('partials/header.ejs') %>
<h3>Project title</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus atque voluptates hic nostrum, nemo modi mollitia repudiandae exercitationem veritatis, quos doloremque ad quasi itaque sunt neque facilis eligendi nesciunt dignissimos.</p>
<%- include('partials/footer.ejs') %>