<%- include('partials/header.ejs') %>

    <h1>Login to your account</h1>
    <form role="form" action="/login" method="post">
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail"  name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        <a class="btn btn-primary" href="/signup" role="button" id="cancel">Cancel</a>
        <hr>
        <h3>Or</h3>
        <h4>Login via <a href="#">Google</a></h4>
      </form>


<%- include('partials/footer.ejs') %>