<footer id="footer">
    <div class="container d-flex flex-wrap justify-content-center py-4">
        <% var currYear = new Date().getFullYear(); %>
        <p class="text-body-secondary">© <%= currYear %> Wahdat Safia. All rights reserved.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="scripts/readmore.js"></script>
</body>
</html>